body {
  color: #34495e;
  background-color: #E3E5E6;
  }

h3 {
  text-decoration: underline;
}

.picContain {
  margin-left: 55px;
  background-color: #34495e;
  height: 350px;
  width: 475px;
  padding-right: 10px;
}

.githubName {
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

img {
  height: 300px;
  width: 300px;
}

.jumbotron {
  justify-content: center;
  display: flex;
  background-color: #95a5a6;
  text-shadow: 20px 20px 20px gray;
  color: #fbfcfc;
}

#form {
  justify-content: center;
  display: flex;
}

.repo {
  justify-content: center;
}

#picture {
  justify-content: center;
  padding-left: 100px;
  padding-top: 20px;
  height: 350px;
  width: 500px;
}

#repo {
  display: none;
}
